{{!-- <img src="img/background.jpg" style="width: 100%;height:100%" alt=""> --}}
<div class="backgroundimg"></div>
<div class="intropage">
<div class="intro__header">
    <img src="img/logo.png" class="intro__logo" alt=""> 
    <div class="intro__header-btn-tab">
        <a href="/user/login" class="intro__header-btn-link">
            <div class="admin_button intro__header-btn">Đăng nhâp</div>
        </a>
        <a href="/user/signup" class="intro__header-btn-link">
            <div class="admin_button intro__header-btn">Đăng kí</div>
        </a>
    </div>
    
</div>
<div class="intro__body">
        <a href="/home" class="intro__header-btn-link">
            <div class="admin_button intro__body-btn">Xem ngay</div>
        </a>
    </div>

</div>